* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

body,
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input,
select,
textarea {
  appearance: none;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  display: block;
}
