:root {
  --mainFont: 'WorkSans', sans-serif;
  --white: #fff;
  --black: #000;
  --default-transition: all 0.45s ease-in;
  --color-transition: color 0.45s ease-in;

  --white-100: #fff;
  --white-60: rgba(255, 255, 255, 0.6);
  --yellow: #fa0;
  --dark-blue: #031e33;
  --dark-purple: #3c4499;
  --purple: #4e73ff;

  --font-family: "WorkSans", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "IBMPlexSans", sans-serif;
  --font3: "UbuntuMono", sans-serif;

  // --1px: 0.0625rem;
  // --2px: 0.125rem;
}

// Breakpoints
@breakpoint-xs: 480px;
@breakpoint-sm: 640px;
@breakpoint-md: 768px;
@breakpoint-900: 900px;
@breakpoint-lg: 1024px;
@breakpoint-xl: 1280px;
@breakpoint-2xl: 1440px;