<div class="cookie-popup" id="cookiePopup">
	<img src="../images/icons/cookie.avif" alt="Cookie Icon" class="icon">
	<div class="content">
		<div class="top">
			<img src="../images/icons/cookie.avif" alt="Cookie Icon" class="icon">
			<div>
				<h3 class="title">Cookies Settings</h3>
				<p class="text">This website uses cookies to ensure you get the best experience.</p>
			</div>
		</div>
		<div class="buttons">
			<button class="btn white sm" id="cookieDecline">DECLINE</button>
			<button class="btn yellow sm" id="cookieAccept">ACCEPT</button>
		</div>

	</div>
</div>