<footer class="footer">
	<div class="content">
		<div class="left">
			<p class="text">
				Tesera is a sci-fi sandbox game in a mysterious alien world. Explore an endless voxel world, defend yourself
				against
				aggressive creatures and drones, building your dream settlement alone or with friends.
			</p>
			<p class="credit">Designed by <a href="#" class="link">ATTITUDE.DEV</a></p>
		</div>
		<div class="right">
			<div class="links">
				<ul class="links-grid">
					<li class="title">Navigation</li>
					<li> <a href="./" class="link">Main page</a></li>
					<li> <a href="./roadmap.html" class="link">Roadmap</a></li>
					<li> <a href="./legal-info.html" class="link">Legal info</a></li>
					<li> <a href="./privacy-policy.html" class="link">Privacy</a></li>
				</ul>
			</div>
			<div class="social">
				<p class="title">Follow us</p>
				<div class="social-icons">
					<a href="#" class="social-icon">
						<img src="../images/icons/steam.avif" alt="Us in steamstore">
					</a>
					<a href="#" class="social-icon">
						<img src="../images/icons/youtube.avif" alt="Us in youtube">
					</a>
					<a href="#" class="social-icon">
						<img src="../images/icons/discord.avif" alt="Us in discord">
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>